.page_header
  .intro.well
    %p{style: "font-weight: bold; font-size: 24px;"} Is this a dream? 
    %p{style: "position: relative; left: 30px; font-style: italic; top: -10px;"} Is that the question?

    %p At one point, it was a game — 
    %p{style: "position: relative; left: 30px;"} we told stories, and those stories became real. 

    %p 
      The more we told them, 
      %big 
        the more real 
        %big they became. 

    %p{style: "position: relative; top: 10px; font-weight: bold;"} And now, I’m not certain where one story ends and another begins.

  %small{style: "position: relative; top: 20px;"}
    Lucid is a game made by Transneptune Games, freely available for download 
    = link_to "here.", "http://games.transneptune.net/games/lucid", target: "_blank"
    This web site is a tool for playing the game.